/* Sections Styling */

.primary-section{
    padding:5% 0;
    background-color: white;
}

.secondary-section{
    padding: 8% 0;
    background-color: #F17C3A;
    color: white;
}

/* Font & Icons Styling */

body{
    font-family: Raleway;
}
h1, h2, h3, h4, h5, h6{
    font-family: Nunito;
}
h1{
    font-size:40px;
    font-weight:bolder;
}
h2{
    font-size: 36px;
    text-transform: capitalize;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 25px;
}
h6{
    font-weight:normal;
}
p{
    font-size: 15px;
    font-family: ;
}
a{
    color:unset;
    transition: 0.3s;
    text-decoration: none;
}
a:hover{
    color:#F17C3A;
    transition: 0.3s;
}
.heading{
    text-align: center;
}
.heading-border{
    width:6%;
    border-top:3px #F17C3A solid;
    margin: 25px 0 40px 0;
}
.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-25{
    font-size: 25px;
}
.font-30{
    font-size: 30px;
}
.font-35{
    font-size: 35px;
}
.semi-bold{
    font-weight: 600;
}
.bold{
    font-weight: bold;
}
.bolder{
    font-weight: bolder;
}
.primary-icon{
    color:#F17C3A;
    transition: 0.3s;
}
.primary-icon:hover{
    color:#e05b10;
    transition: 0.3s;
}
.secondary-icon{
    color:white;
    transition: 0.3s;
}
.secondary-icon:hover{
    color:#e05b10;
    transition: 0.3s;
}
.text-orange{
    color:#F17C3A
}
h1.product-name{
    color:#F17C3A
}

/* Buttons Stying */

.btn-primary{
    border-radius: 8px;
    padding:8px 0;
    background-color: #F17C3A;
    border:2px #F17C3A solid;
    color:white;
    font-size: 14px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:focus-visible{
    background-color: #e05b10;
    border:2px #e05b10 solid;
    color:white;
    box-shadow: none;
}

.btn-primary-outline{
    border-radius: 8px;
    padding:8px 0;
    background-color: transparent;
    border:2px #F17C3A solid;
    color:#F17C3A;
    font-size: 14px;
}

.btn-primary-outline:hover, .btn-primary-outline:active, .btn-primary-outline:focus, .btn-primary-outline:focus-visible{
    background-color: #e05b10;
    border:2px #e05b10 solid;
    color:white;
    box-shadow: none;
}

/* Navigation styling */

.navigation{
    margin-bottom: 1%;
}

.navigation-logo{
    width: 100%;
}

.dropdown-item{
    font-size: 13px;
}

.dropdown-item:hover{
    color:white;
    background-color: #F17C3A;
}

.navigation-search{
    border-top-left-radius: 8px;
    border-bottom-left-radius:8px;
    border-right: unset;
    padding:8px 30px;
    border:2px #ECF0F1 solid;
    color:#ECF0F1;
    font-size: 14px;
}

.navigation-search:active{
    color: black;
}

.navigation-search-icon{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.nav-link{
    color:unset;
    text-align: center;
    font-size: 14px;
}

.nav-link:hover{
    color:#F17C3A;
    text-align: center;
    font-size: 14px;
}

/* Footer */

.footer{
    background-color:white;
    padding: 5% 0;
    color:black;
    border-top: 1px lightgray solid;
}

.footer-link{
    display:block;
    text-decoration: none;
    padding-top:2%;
}

/* Breadcrumb */

.breadcrumb-item{
    text-decoration: none;
}